@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none;
}

.black-button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.white-button{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}