@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none;
}

/* BUTTON */

button{
    padding: 7px;
    border-radius: 7px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: 500;
}

/* BLACK BUTTON  */

.black-button{
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.500);
}

.black-button:hover{
    background-color: rgb(34, 34, 34);
}

/* WHITE BUTTON  */

.white-button{
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.500);
}

.white-button:hover{
    background-color: rgb(223, 223, 223);
}

/* INPUT */
input{
    padding: 5px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

input::placeholder{
    font-weight: 500;
}